<section>
  <app-logo class="color"></app-logo>
  <div class="footer">
    <div class="footer-left">
      <div class="info">
        <span>Company</span>
        <span>Terms and Conditions</span>
        <span>Policy Privacy</span>
        <span>Contact Us</span>
        <span>Customer Service</span>
      </div>
      <div class="contact">
        <div class="detail">
          <span>MINIMAL corp. </span>
          <span>Bologna,Italy, Earth </span>
          <span>TEL +39 123456789</span>
          <span>EMAIL info@themininal.com</span>
        </div>
      </div>
    </div>
    <div class="footer-right">
      <h5>Find us on</h5>
      <div class="social-container">
        <button mat-icon-button>
          <img src="../../../assets/icons/twitter.svg" />
        </button>
        <button mat-icon-button>
          <img src="../../../assets/icons/instagram.svg" />
        </button>
        <button mat-icon-button>
          <img src="../../../assets/icons/youtube.svg" />
        </button>
      </div>
    </div>
  </div>
  <p class="copyright">
    COPYRIGHT © <span>{{ year }}</span> ALL RIGHTS RESERVED
  </p>
</section>
