:host {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Tenor Sans;
  font-style: normal;
  letter-spacing: 2px;
}
p {
  margin: 0;
}
h5 {
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 500;
}
.similar-products {
  padding: 4rem 0;
}

.similar-products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.product {
  position: relative;
}
.product:focus {
  outline: none;
}
.product img {
  width: 100%;
  max-width: 300px;
  max-height: 380px;
  cursor: pointer;
}
.info {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
.sale {
  text-align: center;
  padding: 0.3rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  color: white;
  background-color: rgb(183, 183, 183);
}
@media screen and (max-width: 768px) {
  .similar-products-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
  }
  .similar-products {
    padding: 0 1rem;
  }
  .product img {
    height: 230px;
  }
  .sale {
    width: 40px;
    font-size: 12px;
  }
  h5 {
    margin-top: 0;
  }
}
