<article class="product">
  <img [src]="image" (mouseenter)="onHover()" (mouseleave)="onMouseLeave()" />
  <div class="info">
    <p class="name" [routerLink]="['/products', id]">
      {{ name?.slice(0, 20) }}...
    </p>
    <div class="container">
      <p class="price">
        {{
          sale
            ? (salePrice | currency : "EUR" : "symbol")
            : (price | currency : "EUR" : "symbol")
        }}
      </p>
      <span class="material-symbols-outlined" (click)="delete()"> delete </span>
    </div>
  </div>
  <div class="add-cart" (click)="openProductForm()">Add to cart</div>
  <span class="sale" *ngIf="sale">Sale</span>
</article>
