<section class="new-arrival">
  <div class="new-products-categories">
    <h4 class="title">New Arrival</h4>
    <div class="categories">
      <a
        (click)="onClick(category)"
        *ngFor="let category of categories"
        [ngClass]="{ 'active-category': category === activeCategory }"
        >{{ category }}</a
      >
    </div>
  </div>
  <div class="new-products-slick">
    <button type="button" class="prev-slick" (click)="slick.slickPrev()">
      <span class="material-symbols-outlined"> navigate_before </span>
    </button>
    <button type="button" class="next-slick" (click)="slick.slickNext()">
      <span class="material-symbols-outlined"> navigate_next </span>
    </button>
    <ngx-slick-carousel #slick class="carousel-slick" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let slide of newProducts" class="slide">
        <article class="slide-article">
          <img
            src="{{
              slide.id === activeImage ? slide.images[1] : slide.images[0]
            }}"
            alt=""
            width="100%"
            (mouseenter)="onImageHover(slide.id)"
            (mouseleave)="onImageHover(null)"
          />
          <div class="slide-info">
            <h5 class="brand">{{ slide.brand }}</h5>
            <p class="name" [routerLink]="['/products', slide.id]">
              {{ slide.name.slice(0, 15) }}...
            </p>
            <p class="price">
              {{
                slide.sale
                  ? (slide.salePrice | currency : "EUR" : "symbol")
                  : (slide.price | currency : "EUR" : "symbol")
              }}
            </p>
          </div>
        </article>
      </div>
    </ngx-slick-carousel>
  </div>
</section>
